<h3>Welcome</h3>
<% if current_user %>
	<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<% else %>
	<p><%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to view your contacts</p>
<% end %>