<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This application is used to manage the user contacts, user can <%= link_to 'SignUp', new_user_registration_path, class: 'nav-link' %></li> or <%= link_to 'SignIn', new_user_session_path, class: 'nav-link' %></li> to view your contacts.
</p>
