<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this Contact from being saved:</h2>
          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <div class="main-container">
    <div class="contact-left">
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
     
      <p>
        <%= f.label :primary_number %><br>
        <%= f.text_field :primary_number %>
      </p>

      <p>
        <%= f.label :office_number %><br>
        <%= f.text_field :office_number %>
      </p>

      <p>
        <%= f.label :city %><br>
        <%= f.text_field :city %>
      </p>
    </div>

    <div class="contact-rigth">
      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </p>

      <p>
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </p>

      <p>
        <%= f.label :company %><br>
        <%= f.text_field :company %>
      </p>

      <p>
        <%= f.label :dob %><br>
        <%= f.date_select :dob %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    </div>
  </div>
<% end %>