<% if current_user.present? %>
	<h3>Welcome <%= current_user.first_name %></h3>
<% else %>
	<h3>Welcome Guest</h3>
<% end %>

<% if @contacts.blank? %>
	<p>You dont have any contact Yet</p>
<% else %>
	<% @contacts.each do |contact| %>
		<div class="contact-container">
			<div class="field">
				<label> Name: <%= contact.name %> </label>
			</div>
			<div class="field">
				<label> Email: <%= contact.email %> </label>
			</div>
			<div class="field">
				<label> Phone: <%= contact.primary_number %> </label>
			</div>
			<div class="field">
				<%= link_to contact_path(contact) do %>
				 <span> View full details </span>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>

<%= link_to new_contact_path do %>
	<span style="float: right;"> Add a new Contact </span>
<% end %>