.authform {
  max-width: 750px;
  form {
  	float: none;
  	width: 100%;
  }
}

.main-container {
	.contact-rigth {
		float: left;
	}
	.contact-left {
		float: left;
		margin-right: 100px;
	}
}
.contact-container{
	border: 1px solid #ccc;
  background: #fafafa;
  margin-left: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 1px 1px 1px;
}