<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Reach US', page_path('reach_us'), class: 'nav-link' %></li>
<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Contacts', contacts_path, class: 'nav-link' %></li>
<% end %>
